.container {
  background-color: rgb(255, 255, 255);
  width: 90vw;
  /* height: 500px; */
  /* border-radius: 15px; */
  display: flex;
  gap: 5px;
  padding: 5px;
}
.container div {
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  /* flex-grow: 0.5; */
  flex-shrink: 0.5;
}
.close {
  width: 5%;
  transition: all 0.5s ease-in;
}

.open {
  width: 80%;
  transition: all 0.5s ease-in;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
}
